/* Start Viewport desktop */
#body-content { height:3797px; }
body { background-repeat:repeat repeat; -moz-background-size:cover; -webkit-background-size:cover; background-size:cover; background-position:50% 50%; background-attachment:fixed; background-image:url(https://static.secure.website/wscfus/10216823/3731914/7snhp0l9t8exysi4inu3-w1280-o.jpg); }
#txtBox_75 { top:802px; left:391px; width:549px; height:450px; z-index:127; }
#imageContainer_95 { top:837px; left:26px; width:292px; height:241px; z-index:124; }
#imageContainer_95 img { margin-top:0px; margin-left:-15px; width:321px; height:241px; }
#imageContainer_96 { top:1096px; left:25px; width:296px; height:213px; z-index:125; }
#imageContainer_96 img { margin-top:0px; margin-left:-13px; width:321px; height:213px; }
#imageContainer_98 { top:1328px; left:25px; width:296px; height:236px; z-index:126; }
#imageContainer_98 img { margin-top:0px; margin-left:-30px; width:356px; height:236px; }
#boxTool_101 { top:820px; left:15px; width:316px; height:759px; z-index:123; }
#stripTool_71 { top:1639px; left:0px; width:100%; height:1573px; z-index:108; }
#stripTool_77 { top:673px; left:0px; width:100%; height:966px; z-index:121; }
#goto-anchor-1470386220605 { top:672px; left:0px; width:100%; height:0; }
#txtBox_143 { top:79px; left:300px; width:463px; height:327px; z-index:102; }
#imageContainer_151 { top:2438px; left:540px; width:311px; height:290px; z-index:109; }
#imageContainer_151 img { margin-top:-11px; margin-left:0px; width:311px; height:311px; }
#imageContainer_152 { top:2793px; left:555px; width:290px; height:290px; z-index:113; }
#imageContainer_152 img { margin-top:0px; margin-left:0px; width:290px; height:290px; }
#imageContainer_153 { top:2438px; left:115px; width:310px; height:290px; z-index:110; }
#imageContainer_153 img { margin-top:-10px; margin-left:0px; width:310px; height:310px; }
#imageContainer_154 { top:2793px; left:110px; width:321px; height:290px; z-index:114; }
#imageContainer_154 img { margin-top:-16px; margin-left:0px; width:321px; height:321px; }
#boxTool_155 { top:823px; left:370px; width:588px; height:439px; z-index:122; }
#goto-anchor-1470412268094 { top:0px; left:0px; width:100%; height:0; }
#goto-anchor-1470412383274 { top:1639px; left:0px; width:100%; height:0; }
#imageContainer_156 { top:293px; left:71px; width:838px; height:380px; z-index:141; }
#imageContainer_156 img { margin-top:-6px; margin-left:0px; width:838px; height:391px; }
#txtBox_157 { top:1691px; left:375px; width:200px; height:104px; z-index:111; }
#imageContainer_158 { top:1893px; left:115px; width:710px; height:309px; z-index:116; }
#imageContainer_158 img { margin-top:-1px; margin-left:0px; width:710px; height:311px; }
#boxTool_159 { top:1893px; left:106px; width:743px; height:335px; z-index:115; }
#txtBox_162 { top:2330px; left:300px; width:380px; height:84px; z-index:117; }
#txtBox_163 { top:1793px; left:286px; width:380px; height:84px; z-index:118; }
#txtBox_164 { top:708px; left:363px; width:201px; height:102px; z-index:129; }
#txtBox_166 { top:3249px; left:359px; width:244px; height:102px; z-index:106; }
#btnTool_167 { top:2237px; left:390px; width:160px; height:53px; z-index:119; }
#btnTool_167 .wseT { line-height:53px; }
#btnTool_168 { top:3103px; left:420px; width:160px; height:59px; z-index:120; }
#btnTool_168 .wseT { line-height:59px; }
#imageContainer_169 { top:3398px; left:150px; width:50px; height:50px; z-index:107; }
#imageContainer_169 img { margin-top:0px; margin-left:0px; width:50px; height:50px; }
#txtBox_170 { top:3391px; left:231px; width:333px; height:67px; z-index:112; }
#txtBox_171 { top:3390px; left:557px; width:282px; height:67px; z-index:139; }
#boxTool_165 { top:3213px; left:0px; width:100%; height:584px; z-index:104; }
#imageContainer_173 { top:3608px; left:355px; width:70px; height:70px; z-index:143; }
#imageContainer_173 img { margin-top:0px; margin-left:0px; width:70px; height:70px; }
#imageContainer_174 { top:3593px; left:505px; width:98px; height:96px; z-index:142; }
#imageContainer_174 img { margin-top:-1px; margin-left:0px; width:98px; height:98px; }
#imageContainer_175 { top:3478px; left:150px; width:40px; height:40px; z-index:144; }
#imageContainer_175 img { margin-top:0px; margin-left:0px; width:40px; height:40px; }
#txtBox_176 { top:3471px; left:218px; width:640px; height:67px; z-index:145; }
#boxTool_177 { top:3380px; left:119px; width:754px; height:165px; z-index:105; }
#goto-anchor-1470762351974 { top:3212px; left:0px; width:100%; height:0; }
#imageContainer_150 { top:1328px; left:465px; width:430px; height:253px; z-index:128; }
#imageContainer_150 img { margin-top:-16px; margin-left:-2px; width:430px; height:285px; }
#imageContainer_178 { top:0px; left:-1px; width:981px; height:672px; z-index:101; }
#imageContainer_178 img { margin-top:0px; margin-left:-16px; width:1013px; height:672px; }
/* End Viewport desktop */
