#body-content { height:640px; }
.clr-bkg-hextransparent { background-color:transparent!important; }
.clr-txt-hex8e7cc3 { color:#8e7cc3!important; }
#txtBox_159 .fs-14 { font-size:14px; }
#txtBox_159 .fs-18 { font-size:18px; }
#txtBox_159 .lh-14 .wse-txt-size { line-height:1.4; }
#txtBox_159 .fs-48 { font-size:48px; }
#txtBox_159 .fs-72 { font-size:72px; }
#txtBox_160 .fs-48 { font-size:48px; }
#txtBox_160 .fs-72 { font-size:72px; }
#txtBox_162 .fs-48 { font-size:48px; }
#txtBox_162 .fs-26 { font-size:26px; }
#txtBox_163 .fs-48 { font-size:48px; }
#txtBox_163 .fs-22 { font-size:22px; }
#txtBox_165 .fs-48 { font-size:48px; }
#txtBox_170 .fs-26 { font-size:26px; }
#txtBox_171 .fs-48 { font-size:48px; }
#txtBox_171 .fs-22 { font-size:22px; }
#txtBox_175 .fs-48 { font-size:48px; }
#txtBox_176 .fs-26 { font-size:26px; }
#txtBox_177 .fs-48 { font-size:48px; }
#txtBox_177 .fs-22 { font-size:22px; }
#txtBox_159 .fs-96 { font-size:96px; }
#txtBox_179 .fs-48 { font-size:48px; }
#txtBox_179 .fs-96 { font-size:96px; }
.clr-txt-hex26aa81 { color:#26aa81!important; }
#txtBox_180 .fs-48 { font-size:48px; }
#txtBox_181 .fs-26 { font-size:26px; }
#txtBox_185 .fs-26 { font-size:26px; }
#txtBox_185 .lh-364 .wse-txt-size { line-height:36.4px; }
#txtBox_186 .fs-48 { font-size:48px; }
#txtBox_188 .fs-48 { font-size:48px; }
#txtBox_188 .fs-36 { font-size:36px; }
#txtBox_189 .fs-96 { font-size:96px; }
.clr-txt-hex6ea5d7 { color:#6ea5d7!important; }
#txtBox_190 .fs-48 { font-size:48px; }
.clr-txt-hexd5a6bd { color:#d5a6bd!important; }
#txtBox_191 .fs-48 { font-size:48px; }
#txtBox_192 .fs-48 { font-size:48px; }
#txtBox_192 .fs-36 { font-size:36px; }
#txtBox_193 .fs-48 { font-size:48px; }
#txtBox_193 .fs-36 { font-size:36px; }
#txtBox_196 .fs-48 { font-size:48px; }
#txtBox_196 .fs-36 { font-size:36px; }
#txtBox_196 .fs-26 { font-size:26px; }
#txtBox_196 .lh-168 .wse-txt-size { line-height:16.8px; }
#txtBox_196 .lh-10 .wse-txt-size { line-height:1; }
#txtBox_196 .fs-20 { font-size:20px; }
#txtBox_197 .fs-48 { font-size:48px; }
#txtBox_199 .fs-48 { font-size:48px; }
#txtBox_199 .fs-36 { font-size:36px; }
body {  }