
.float-2{
    animation: float 2s ease-in-out infinite;
}
.float-3{
    animation: float 3s ease-in-out infinite;
}
.float-4{
    animation: float 4s ease-in-out infinite;
}
.float-5{
    animation: float 5s ease-in-out infinite;
}

.text-float-2{
    text-shadow: -10px 50px 10px rgba(0,0,0,0.6);
    animation: text-float 2s ease-in-out infinite;
}
.text-float-3{
    text-shadow: -10px 50px 10px rgba(0,0,0,0.6);
    animation: text-float 3s ease-in-out infinite;
}
.text-float-4{
    text-shadow: -10px 50px 10px rgba(0,0,0,0.6);
    animation: text-float 4s ease-in-out infinite;
}
.text-float-5{
    text-shadow: -10px 50px 10px rgba(0,0,0,0.6);
    animation: text-float 5s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
.shake-on-hover:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .fadeOut0{
    animation: fadeOut 1s ease-in-out;
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

  @keyframes shake {
    10%, 90% {
        -webkit-transform: rotate(4deg);
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(1px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
      -webkit-transform-origin:center center;
      -webkit-transform: rotate(-4deg);
    }
  
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
  }
@keyframes text-float {
	0% {
        text-shadow: -25px 50px 10px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
        text-shadow: -25px 50px 10px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
        text-shadow: -25px 50px 10px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
@keyframes appear-1 {
	0% {
        opacity:0;
	}
	100% {
        
        opacity:1;
	}
}
@keyframes course-visible{
	0% {
        opacity:0.6;
        filter: grayscale();
        -webkit-filter: grayscale();
	}
	100% {
        filter: none;
        -webkit-filter: none;
        opacity:1;
	}
}

.change .bar1 {

    -webkit-transform: rotate(-45deg) translate(-9px, 6px);

    transform: rotate(-45deg) translate(-9px, 6px);

  }

  

  .change .bar2 {opacity: 0;}

  

  .change .bar3 {

    -webkit-transform: rotate(45deg) translate(-6px, -3px);

    transform: rotate(45deg) translate(-6px, -3px);

  }