.radius-0{
 border-radius: 0px;
 }
.radius-5{
 border-radius: 5px;
 }
.radius-10{
 border-radius: 10px;
 }
.radius-15{
 border-radius: 15px;
 }
.radius-20{
 border-radius: 20px;
 }
.radius-25{
 border-radius: 25px;
 }
.radius-30{
 border-radius: 30px;
 }
.radius-35{
 border-radius: 35px;
 }
.radius-40{
 border-radius: 40px;
 }
.radius-45{
 border-radius: 45px;
 }
.radius-50{
 border-radius: 50px;
 }
.radius-55{
 border-radius: 55px;
 }
.radius-60{
 border-radius: 60px;
 }
.radius-65{
 border-radius: 65px;
 }
.radius-70{
 border-radius: 70px;
 }
.radius-75{
 border-radius: 75px;
 }
.radius-80{
 border-radius: 80px;
 }
.radius-85{
 border-radius: 85px;
 }
.radius-90{
 border-radius: 90px;
 }
.radius-95{
 border-radius: 95px;
 }
.radius-100{
 border-radius: 100px;
 }
.radius-105{
 border-radius: 105px;
 }
.radius-110{
 border-radius: 110px;
 }
.radius-115{
 border-radius: 115px;
 }
.radius-120{
 border-radius: 120px;
 }
.radius-125{
 border-radius: 125px;
 }
.radius-130{
 border-radius: 130px;
 }
.radius-135{
 border-radius: 135px;
 }
.radius-140{
 border-radius: 140px;
 }
.radius-145{
 border-radius: 145px;
 }
.radius-150{
 border-radius: 150px;
 }
.radius-155{
 border-radius: 155px;
 }
.radius-160{
 border-radius: 160px;
 }
.radius-165{
 border-radius: 165px;
 }
.radius-170{
 border-radius: 170px;
 }
.radius-175{
 border-radius: 175px;
 }
.radius-180{
 border-radius: 180px;
 }
.radius-185{
 border-radius: 185px;
 }
.radius-190{
 border-radius: 190px;
 }
.radius-195{
 border-radius: 195px;
 }
.radius-200{
 border-radius: 200px;
 }
.radius-205{
 border-radius: 205px;
 }
.radius-210{
 border-radius: 210px;
 }
.radius-215{
 border-radius: 215px;
 }
.radius-220{
 border-radius: 220px;
 }
.radius-225{
 border-radius: 225px;
 }
.radius-230{
 border-radius: 230px;
 }
.radius-235{
 border-radius: 235px;
 }
.radius-240{
 border-radius: 240px;
 }
.radius-245{
 border-radius: 245px;
 }
.radius-250{
 border-radius: 250px;
 }
.radius-255{
 border-radius: 255px;
 }
.radius-260{
 border-radius: 260px;
 }
.radius-265{
 border-radius: 265px;
 }
.radius-270{
 border-radius: 270px;
 }
.radius-275{
 border-radius: 275px;
 }
.radius-280{
 border-radius: 280px;
 }
.radius-285{
 border-radius: 285px;
 }
.radius-290{
 border-radius: 290px;
 }
.radius-295{
 border-radius: 295px;
 }
.radius-300{
 border-radius: 300px;
 }
.radius-305{
 border-radius: 305px;
 }
.radius-310{
 border-radius: 310px;
 }
.radius-315{
 border-radius: 315px;
 }
.radius-320{
 border-radius: 320px;
 }
.radius-325{
 border-radius: 325px;
 }
.radius-330{
 border-radius: 330px;
 }
.radius-335{
 border-radius: 335px;
 }
.radius-340{
 border-radius: 340px;
 }
.radius-345{
 border-radius: 345px;
 }
.radius-350{
 border-radius: 350px;
 }
.radius-355{
 border-radius: 355px;
 }
.radius-360{
 border-radius: 360px;
 }
.radius-365{
 border-radius: 365px;
 }
.radius-370{
 border-radius: 370px;
 }
.radius-375{
 border-radius: 375px;
 }
.radius-380{
 border-radius: 380px;
 }
.radius-385{
 border-radius: 385px;
 }
.radius-390{
 border-radius: 390px;
 }
.radius-395{
 border-radius: 395px;
 }
.radius-400{
 border-radius: 400px;
 }
.radius-405{
 border-radius: 405px;
 }
.radius-410{
 border-radius: 410px;
 }
.radius-415{
 border-radius: 415px;
 }
.radius-420{
 border-radius: 420px;
 }
.radius-425{
 border-radius: 425px;
 }
.radius-430{
 border-radius: 430px;
 }
.radius-435{
 border-radius: 435px;
 }
.radius-440{
 border-radius: 440px;
 }
.radius-445{
 border-radius: 445px;
 }
.radius-450{
 border-radius: 450px;
 }
.radius-455{
 border-radius: 455px;
 }
.radius-460{
 border-radius: 460px;
 }
.radius-465{
 border-radius: 465px;
 }
.radius-470{
 border-radius: 470px;
 }
.radius-475{
 border-radius: 475px;
 }
.radius-480{
 border-radius: 480px;
 }
.radius-485{
 border-radius: 485px;
 }
.radius-490{
 border-radius: 490px;
 }
.radius-495{
 border-radius: 495px;
 }
.radius-500{
 border-radius: 500px;
 }
