/* Start Viewport desktop */
#body-content { height:5286.993408203125px; }
#imageContainer_65 { top:0px; left:0px; width:100%; height:844px; z-index:106; }
#txtBox_67 { top:134px; left:45px; width:889px; height:84px; z-index:108; }
#divider_68 { top:230px; left:190px; width:600px; height:20px; z-index:109; }
#txtBox_68 { top:271px; left:253px; width:471px; height:50px; z-index:110; }
#goto-anchor-1456711166455 { top:1101px; left:0px; width:100%; height:0; }
#btnTool_69 { top:385px; left:367px; width:243px; height:49px; z-index:111; }
#btnTool_69 .wseT { line-height:49px; }
#boxTool_70 { top:109px; left:28px; width:923px; height:237px; z-index:107; }
#imageContainer_79 { top:2040px; left:0px; width:100%; height:1963px; z-index:119; }
#txtBox_80 { top:2086px; left:220px; width:536px; height:82px; z-index:124; }
#txtBox_85 { top:2573px; left:92px; width:287px; height:50px; z-index:125; }
#txtBox_88 { top:4156px; left:65px; width:470px; height:100px; z-index:116; }
#btnTool_89 { top:4092px; left:656px; width:243px; height:47px; z-index:117; }
#btnTool_89 .wseT { line-height:47px; }
body { background-color:#ffffff; }
#txtBox_96 { top:2317px; left:143px; width:238px; height:67px; z-index:126; }
#txtBox_107 { top:3129px; left:77px; width:288px; height:100px; z-index:127; }
#txtBox_113 { top:3656px; left:52px; width:287px; height:100px; z-index:128; }
#txtBox_139 { top:4974px; left:365px; width:289px; height:50px; z-index:133; }
#txtBox_140 { top:5024px; left:297px; width:407px; height:100px; z-index:134; }
#goto-anchor-1470674925039 { top:2064px; left:0px; width:100%; height:0; }
#goto-anchor-1470674993407 { top:-119px; left:0px; width:100%; height:0; }
#boxTool_136 { top:4724px; left:0px; width:100%; height:564px; z-index:131; }
#goto-anchor-1470675123215 { top:4754px; left:0px; width:100%; height:0; }
#txtBox_143 { top:1111px; left:150px; width:678px; height:630px; z-index:129; }
#boxTool_146 { top:4301px; left:0px; width:980px; height:278px; z-index:130; }
#boxTool_147 { top:4311px; left:15px; width:229px; height:258px; z-index:135; }
#boxTool_148 { top:4311px; left:260px; width:216px; height:258px; z-index:137; }
#boxTool_149 { top:4311px; left:492px; width:221px; height:258px; z-index:139; }
#boxTool_150 { top:4311px; left:730px; width:229px; height:258px; z-index:141; }
#imageContainer_151 { top:4389px; left:505px; width:197px; height:100px; z-index:140; }
#imageContainer_151 img { margin-top:0px; margin-left:-9px; width:214px; height:100px; }
#imageContainer_152 { top:4369px; left:220px; width:256px; height:187px; z-index:138; }
#imageContainer_152 img { margin-top:-35px; margin-left:0px; width:256px; height:256px; }
#imageContainer_153 { top:4359px; left:5px; width:249px; height:160px; z-index:136; }
#imageContainer_153 img { margin-top:-13px; margin-left:0px; width:249px; height:186px; }
#imageContainer_155 { top:4344px; left:745px; width:199px; height:194px; z-index:142; }
#imageContainer_155 img { margin-top:-3px; margin-left:0px; width:199px; height:199px; }
#txtBox_151 { top:2284px; left:525px; width:399px; height:250px; z-index:143; }
#txtBox_152 { top:2833px; left:530px; width:399px; height:310px; z-index:147; }
#txtBox_153 { top:3347px; left:535px; width:399px; height:450px; z-index:144; }
#boxTool_154 { top:2793px; left:510px; width:436px; height:331px; z-index:146; }
#boxTool_155 { top:3307px; left:515px; width:436px; height:479px; z-index:122; }
#boxTool_157 { top:2254px; left:510px; width:437px; height:270px; z-index:123; }
#btnTool_159 { top:2550px; left:675px; width:100px; height:30px; z-index:150; }
#btnTool_159 .wseT { line-height:30px; }
#btnTool_160 { top:3150px; left:673px; width:100px; height:30px; z-index:148; }
#btnTool_160 .wseT { line-height:30px; }
#btnTool_161 { top:3812px; left:673px; width:100px; height:30px; z-index:149; }
#btnTool_161 .wseT { line-height:30px; }
#txtBox_158 { top:4799px; left:340px; width:269px; height:110px; z-index:145; }
#imageContainer_170 { top:4964px; left:325px; width:50px; height:50px; z-index:153; }
#imageContainer_170 img { margin-top:0px; margin-left:0px; width:50px; height:50px; }
#imageContainer_171 { top:5024px; left:250px; width:50px; height:50px; z-index:152; }
#imageContainer_171 img { margin-top:0px; margin-left:0px; width:50px; height:50px; }
#imageContainer_173 { top:1070px; left:140px; width:700px; height:700px; z-index:101; }
#imageContainer_173 img { margin-top:0px; margin-left:0px; width:700px; height:700px; }
#imageContainer_160 { top:4824px; left:275px; width:400px; height:400px; z-index:132; }
#imageContainer_160 img { margin-top:0px; margin-left:0px; width:400px; height:400px; }
#imageContainer_161 { top:2347px; left:235px; width:90px; height:80px; z-index:151; }
#imageContainer_161 img { margin-top:-5px; margin-left:0px; width:90px; height:90px; }
#imageContainer_162 { top:2250px; left:85px; width:300px; height:300px; z-index:121; }
#imageContainer_162 img { margin-top:0px; margin-left:0px; width:300px; height:300px; }
#imageContainer_163 { top:2915px; left:130px; width:200px; height:200px; z-index:120; }
#imageContainer_163 img { margin-top:0px; margin-left:0px; width:200px; height:200px; }
#imageContainer_164 { top:2837px; left:265px; width:139px; height:130px; z-index:154; }
#imageContainer_164 img { margin-top:-5px; margin-left:0px; width:139px; height:139px; }
#imageContainer_166 { top:2183px; left:295px; width:139px; height:130px; z-index:164; }
#imageContainer_166 img { margin-top:-5px; margin-left:0px; width:139px; height:139px; }
#txtBox_167 { top:2837px; left:203px; width:48px; height:80px; z-index:156; }
#txtBox_168 { top:2868px; left:150px; width:47px; height:83px; z-index:158; }
#txtBox_169 { top:2801px; left:165px; width:46px; height:81px; z-index:157; }
#txtBox_170 { top:2908px; left:190px; width:46px; height:82px; z-index:155; }
#imageContainer_172 { top:3309px; left:277px; width:139px; height:130px; z-index:163; }
#imageContainer_172 img { margin-top:-5px; margin-left:0px; width:139px; height:139px; }
#imageContainer_174 { top:3421px; left:115px; width:90px; height:90px; z-index:162; }
#imageContainer_174 img { margin-top:0px; margin-left:0px; width:90px; height:90px; }
#imageContainer_175 { top:3521px; left:220px; width:90px; height:90px; z-index:161; }
#imageContainer_175 img { margin-top:0px; margin-left:0px; width:90px; height:90px; }
#imageContainer_176 { top:3521px; left:115px; width:90px; height:90px; z-index:160; }
#imageContainer_176 img { margin-top:0px; margin-left:0px; width:90px; height:90px; }
#imageContainer_177 { top:3421px; left:220px; width:90px; height:90px; z-index:159; }
#imageContainer_177 img { margin-top:0px; margin-left:0px; width:90px; height:90px; }
/* End Viewport desktop */
