#body-content { height:640px; }
.clr-bkg-hextransparent { background-color:transparent!important; }
.wse-personalize#divider_68 .hr { border:0; border-style:solid; }
.wse-personalize#divider_68 .hr.horizontal { width:100%; height:2px; margin-top:9px; border-bottom-width:2px; }
.wse-personalize#divider_68 .hr.vertical { width:2px; margin-left:9px; height:100%; border-right-width:2px; }
.wse-personalize#btnTool_69 .wseA { border-radius:0px 0px 0px 0px; overflow:hidden; border-width:0px; }
.wse-personalize#btnTool_69 .wseA .wseT { padding-left:0px; padding-right:0px; }
.clr-brd-hextransparent { border-color:transparent!important; }
.clr-brd-hvr-hextransparent:hover, .clr-brd-hvr-hextransparent.hover { border-color:transparent!important; }
.wse-personalize#boxTool_70 .wseI { border-width:0px; }
.clr-bkg-hex222222 { background-color:#222222!important; }
.wse-personalize#btnTool_89 .wseA { border-width:0px; -moz-border-radius:0; -webkit-border-radius:0; border-radius:0px 0px 0px 0px; overflow:hidden; }
.wse-personalize#btnTool_89 .wseA:hover { color:#ffffff; }
.wse-personalize#btnTool_89 .wseA .wseT { padding-left:0px; padding-right:0px; }
.clr-txt-hex24bb8c { color:#24bb8c!important; }
#txtBox_96 .fs-18 { font-size:18px; }
#txtBox_96 .fs-11 { font-size:11px; }
#txtBox_96 .fs-16 { font-size:16px; }
#txtBox_107 .lh-504 .wse-txt-size { line-height:50.4px; }
.clr-txt-hex6ea5d7 { color:#6ea5d7!important; }
.clr-bkg-hex26aa81 { background-color:#26aa81!important; }
.wse-personalize#imageContainer_65 .wseI { box-shadow:5px 5px 10px 0px rgba(0,0,0,0.6); }
#txtBox_143 .fs-36 { font-size:36px; }
#txtBox_143 .fs-10 { font-size:10px; }
#txtBox_143 .lh-NaN .wse-txt-size { line-height:normal; }
#txtBox_143 .fs-18 { font-size:18px; }
#txtBox_143 .fs-22 { font-size:22px; }
#txtBox_143 .lh-9 .wse-txt-size { line-height:0.9; }
#txtBox_143 .lh-12 .wse-txt-size { line-height:1.2; }
#txtBox_143 .fs-48 { font-size:48px; }
#txtBox_107 .lh-10 .wse-txt-size { line-height:1; }
#txtBox_107 .lh-12 .wse-txt-size { line-height:1.2; }
#txtBox_151 .fs-48 { font-size:48px; }
#txtBox_151 .fs-18 { font-size:18px; }
#txtBox_151 .fs-22 { font-size:22px; }
#txtBox_151 .lh-12 .wse-txt-size { line-height:1.2; }
#txtBox_152 .fs-48 { font-size:48px; }
#txtBox_152 .lh-12 .wse-txt-size { line-height:1.2; }
#txtBox_153 .fs-48 { font-size:48px; }
#txtBox_153 .lh-12 .wse-txt-size { line-height:1.2; }
.wse-personalize#boxTool_154 .wseI { box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.5); border-width:2px; border-radius:9px 9px 9px 9px; overflow:hidden; }
.wse-personalize#boxTool_154 .wseSHBL, .wse-personalize#boxTool_154 .wseSHBR { display:block; position:absolute; bottom:-26px; width:165px; height:26px; background-image:url(//static.secure.website/library/images/effects/liftedshadow_m-hq.png); background-repeat:no-repeat; }
.wse-personalize#boxTool_154 .wseSHBL { left:-20px; background-position:0px 0px; }
.wse-personalize#boxTool_154 .wseSHBR { right:-20px; background-position:100% 0px; }
.wse-personalize#boxTool_155 .wseI { box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.5); border-width:2px; border-radius:9px 9px 9px 9px; overflow:hidden; }
.wse-personalize#boxTool_155 .wseSHBL, .wse-personalize#boxTool_154 .wseSHBR { display:block; position:absolute; bottom:-26px; width:165px; height:26px; background-image:url(//static.secure.website/library/images/effects/liftedshadow_m-hq.png); background-repeat:no-repeat; }
.wse-personalize#boxTool_155 .wseSHBL { left:-20px; background-position:0px 0px; }
.wse-personalize#boxTool_155 .wseSHBR { right:-20px; background-position:100% 0px; }
.wse-personalize#boxTool_157 .wseI { box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.5); border-width:2px; border-radius:9px 9px 9px 9px; overflow:hidden; }
.wse-personalize#boxTool_157 .wseSHBL, .wse-personalize#boxTool_154 .wseSHBR { display:block; position:absolute; bottom:-26px; width:165px; height:26px; background-image:url(//static.secure.website/library/images/effects/liftedshadow_m-hq.png); background-repeat:no-repeat; }
.wse-personalize#boxTool_157 .wseSHBL { left:-20px; background-position:0px 0px; }
.wse-personalize#boxTool_157 .wseSHBR { right:-20px; background-position:100% 0px; }
.clr-txt-hex8e7cc3 { color:#8e7cc3!important; }
#txtBox_80 .fs-60 { font-size:60px; }
#txtBox_80 .lh-10 .wse-txt-size { line-height:1; }
.wse-personalize#btnTool_159 .wseA { border-radius:0px 0px 0px 0px; overflow:hidden; border-width:0px; }
.wse-personalize#btnTool_159 .wseA .wseT { padding-left:0px; padding-right:0px; }
.wse-personalize#btnTool_160 .wseA { border-radius:0px 0px 0px 0px; overflow:hidden; border-width:0px; }
.wse-personalize#btnTool_160 .wseA .wseT { padding-left:0px; padding-right:0px; }
.wse-personalize#btnTool_161 .wseA { border-radius:0px 0px 0px 0px; overflow:hidden; border-width:0px; }
.wse-personalize#btnTool_161 .wseA .wseT { padding-left:0px; padding-right:0px; }
#txtBox_158 .fs-60 { font-size:60px; }
#txtBox_158 .lh-10 .wse-txt-size { line-height:1; }
#txtBox_158 .lh-600 .wse-txt-size { line-height:60px; }
#txtBox_158 .fs-30 { font-size:30px; }
#txtBox_158 .fs-48 { font-size:48px; }
.clr-txt-hex709de6 { color:#709de6!important; }
#txtBox_96 .fs-96 { font-size:96px; }
#txtBox_96 .fs-48 { font-size:48px; }