
RewriteEngine on

RewriteCond %{HTTP_HOST} ^ntlope\.nonartyart\.co\.za$ [OR]
RewriteCond %{HTTP_HOST} ^www\.ntlope\.nonartyart\.co\.za$
RewriteRule ^/?$ "http\:\/\/nonartyart\.co\.za\/ntlope" [R=302,L]

