.overflow-x{
    overflow-x: hidden;
}

.gray-1{
    background-color: #2f3132;
}
.gray-2{
    background-color: #28292a;
}
.gray-3{
    background-color: #adafb6;
}

@media only screen and (max-width: 450px){
    #respValue{
        opacity: 0.2;
    }
    #courses-row-1{
        height: 400px;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #courses-large-title{
        font-size: 36px;
        font-family: 'Roboto Black', sans-serif;
    }

    #courses-search-bar-panel{
        width: 310px;
        height: 40px;
        margin: 0 auto;
        margin-top: 44px;
        border-radius: 10px;
    }
    #courses-search-icon{
        position: absolute;
        width: 18px;
        float: left;
        cursor: pointer;
        padding-top: 10px;
        padding-left: 10px;
        color: white;
    }
    #courses-search-bar{
        border-radius: 10px;
        width: calc(100% - 10px*2 - 33px) !important;
        height: 20px;
        line-height: 20px;
        padding: 10px;
        background-color: rgba(36,35,30,1);
        padding-left: 33px;
        font-weight: bold;
        color: white !important;
        background-color: none !important;
        border: none;
    }
    #courses-search-bar::placeholder{
        color: #99816F !important;
    }
    #courses-search-bar::placeholder:focus{
        color: rgba(0,0,0,0) !important;
    }
    .courses-row-padding{
        height: 270px;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #courses-row-2, #courses-row-3, #courses-row-4{
        height: 675px;
        text-align: center;
        width: 100%;
    }
    .courses-course-type-description{
        margin: 0 auto;
        padding: 0px !important;
    }
    .courses-course-type-panel{
        width: 260px;
        padding-left: 50px;
        height: 270px;
        float: left;
    }
    .courses-course-type-container{
        position: absolute;
        z-index: 10;
        height: 300px;
        width: 300px;
    }
    .blank-course-card{
        width: 0px;
        overflow: hidden;
    }
    .courses-slider-panel{
        position: relative;
        width: 100%;
        height: 300px;
        overflow-x: hidden;
    }
    .courses-slider-panel-extended{
        position: absolute;
        left: 0px;
        width: calc(100% + 300px * 10);
    }
    .left-course-blurred{
        display: none;
    }
    .right-course-blurred{
        float: right;
        width: 287px;
        height: 280px;
    }

    .courses-soft-edge{
        box-shadow: 5px 20px #161718;
    }
    .courses-arrow{
        position: absolute;
        margin-left: 250px;
        margin-top: 10px;
    }
    .courses-course-card-container{
        width: 286px;
        padding-top: 5px;
        height: calc(100% - 20px * 2);
    }
    .course-type-title{
        font-size: 37px;
        font-family: 'Roboto Black', sans-serif;
        color: white;
    }
    #courses-row-5{
        height: 400px;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .courses-course-image{
        width: 287px;
        height: 220px;
        border-radius: 15px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
    }
    .courses-course-image-dummy{
        width: 287px;
        height: 220px;
        margin: 0 auto;
    }
    .courses-course-details-panel{
        position: absolute;
        margin-top: 170px;
        width: 252px;
        border-radius: 10px 10px 10px 10px;
        margin-left: 17px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        font-size: 9px;
        height: calc(60px + 10px * 2 + 5px *2);
    }
    .courses-course-details-top{
        padding: 10px;
        height: 30px;
        border-radius: 6px 6px 0px 0px !important;
        width: calc(100% - 10px*2);
        background-color: #1b1b1b;
    
    }
    .courses-course-details-bottom{
        border-radius: 0px 0px 10px 10px;
        padding-top: 3px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 10px;
        height: 30px;
        width: calc(100% - 5px - 10px);
        background-color: #2b2b2b;
    }

    .light-gray-bg{
        background-color: #3a3a3a;;
    }
    .courses-buttons-panel{
        width: 100%;
        position: absolute;
        margin-top: 23px;
    }

    .courses-scroll-left{
        position: absolute;
        left: 0px;
        height: 287px;
        z-index: 11;
        width: 50px;
    }
    .courses-scroll-right{
        position: absolute;
        right: 0px;
        height: 287px;
        z-index: 10;
        width: 70px;
    }
    
    .courses-scroll-right:hover, .courses-scroll-left:hover{
        background-color: rgba(255,255,255,0.025);
        cursor: pointer;
    }

    .courses-pop-up-container{
        position: fixed;
        z-index: 200;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    .courses-pop-up-content{
        width: 100%;
    }
    .courses-pop-up-blur{
        position: fixed;
        z-index: 199;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    
    #courses-pop-up-description{
        width: 280px;
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 20px;
        padding-top: 30px;
        height: 400px;
    }
    #courses-pop-up-image{
        width:320px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    #courses-pop-up-summary{
        width: 280px;
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 20px;
        padding-top: 30px;
        height: 140px;
        
    }
    #courses-pop-up-suitable{
        width: 280px;
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 20px;
        padding-top: 30px;
        height: 230px;
    }
    #courses-pop-up-includes{
        width: 280px;
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 20px;
        padding-top: 30px;
        height: 200px;
    }
    #courses-pop-up-learn{
        width: 290px;
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 20px;
        padding-top: 30px;
        height: 250px;
    }
    
    .courses-pop-up-close-button{
        width: 30px;
        height: 30px;
        line-height: 30px;
        position: fixed;
        top: 30px;
        padding: 5px;
        z-index: 210;
    }

}
@media only screen and (min-width: 450px) and (max-width: 736px){
    #respValue{
        opacity: 0.3;
    }
    #courses-row-1{
        height: 400px;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #courses-large-title{
        font-size: 36px;
        font-family: 'Roboto Black', sans-serif;
    }

    #courses-search-bar-panel{
        width: 310px;
        height: 40px;
        margin: 0 auto;
        margin-top: 44px;
        border-radius: 10px;
    }
    #courses-search-icon{
        position: absolute;
        width: 18px;
        float: left;
        cursor: pointer;
        padding-top: 10px;
        padding-left: 10px;
        color: white;
    }
    #courses-search-bar{
        border-radius: 10px;
        width: calc(100% - 10px*2 - 33px) !important;
        height: 20px;
        line-height: 20px;
        padding: 10px;
        background-color: rgba(36,35,30,1);
        padding-left: 33px;
        font-weight: bold;
        color: white !important;
        background-color: none !important;
        border: none;
    }
    #courses-search-bar::placeholder{
        color: #99816F !important;
    }
    #courses-search-bar::placeholder:focus{
        color: rgba(0,0,0,0) !important;
    }
    .courses-row-padding{
        height: 270px;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #courses-row-2, #courses-row-3, #courses-row-4{
        height: 675px;
        text-align: center;
        width: 100%;
    }
    .courses-course-type-description{
        margin: 0 auto;
        padding: 0px !important;
    }
    .courses-course-type-panel{
        width: 260px;
        padding-left: 50px;
        height: 270px;
        float: left;
    }
    .courses-course-type-container{
        position: absolute;
        z-index: 10;
        height: 300px;
        width: 300px;
    }
    .blank-course-card{
        width: 0px;
        overflow: hidden;
    }
    .courses-slider-panel{
        position: relative;
        width: 100%;
        height: 300px;
        overflow-x: hidden;
    }
    .courses-slider-panel-extended{
        position: absolute;
        left: 0px;
        width: calc(100% + 300px * 10);
    }
    .left-course-blurred{
        display: none;
    }
    .right-course-blurred{
        float: right;
        width: 287px;
        height: 280px;
    }

    .courses-soft-edge{
        box-shadow: 5px 20px #161718;
    }
    .courses-arrow{
        position: absolute;
        margin-left: 250px;
        margin-top: 10px;
    }
    .courses-course-card-container{
        width: 286px;
        padding-top: 5px;
        height: calc(100% - 20px * 2);
    }
    .course-type-title{
        font-size: 37px;
        font-family: 'Roboto Black', sans-serif;
        color: white;
    }
    #courses-row-5{
        height: 400px;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .courses-course-image{
        width: 287px;
        height: 220px;
        border-radius: 15px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
    }
    .courses-course-image-dummy{
        width: 287px;
        height: 220px;
        margin: 0 auto;
    }
    .courses-course-details-panel{
        position: absolute;
        margin-top: 170px;
        width: 252px;
        border-radius: 10px 10px 10px 10px;
        margin-left: 17px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        font-size: 9px;
        height: calc(60px + 10px * 2 + 5px *2);
    }
    .courses-course-details-top{
        padding: 10px;
        height: 30px;
        border-radius: 6px 6px 0px 0px !important;
        width: calc(100% - 10px*2);
        background-color: #1b1b1b;
    
    }
    .courses-course-details-bottom{
        border-radius: 0px 0px 10px 10px;
        padding-top: 3px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 10px;
        height: 30px;
        width: calc(100% - 5px - 10px);
        background-color: #2b2b2b;
    }

    .light-gray-bg{
        background-color: #3a3a3a;;
    }
    .courses-buttons-panel{
        width: 100%;
        position: absolute;
        margin-top: 23px;
    }

    .courses-scroll-left{
        position: absolute;
        left: 0px;
        height: 287px;
        z-index: 11;
        width: 50px;
    }
    .courses-scroll-right{
        position: absolute;
        right: 0px;
        height: 287px;
        z-index: 10;
        width: 70px;
    }
    
    .courses-scroll-right:hover, .courses-scroll-left:hover{
        background-color: rgba(255,255,255,0.025);
        cursor: pointer;
    }

    .courses-pop-up-container{
        position: fixed;
        z-index: 200;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    .courses-pop-up-content{
        width: 100%;
    }
    .courses-pop-up-blur{
        position: fixed;
        z-index: 199;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    
    #courses-pop-up-description{
        width: 280px;
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 20px;
        padding-top: 30px;
        height: 400px;
    }
    #courses-pop-up-image{
        width:320px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    #courses-pop-up-summary{
        width: 280px;
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 20px;
        padding-top: 30px;
        height: 140px;
        
    }
    #courses-pop-up-suitable{
        width: 280px;
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 20px;
        padding-top: 30px;
        height: 230px;
    }
    #courses-pop-up-includes{
        width: 280px;
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 20px;
        padding-top: 30px;
        height: 200px;
    }
    #courses-pop-up-learn{
        width: 290px;
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 20px;
        padding-top: 30px;
        height: 250px;
    }
    .courses-pop-up-close-button{
        width: 30px;
        height: 30px;
        line-height: 30px;
        position: fixed;
        top: 30px;
        padding: 5px;
        z-index: 210;
    }

}
@media only screen and (min-width: 736px) and (max-width: 1080px){
    #respValue{
        opacity: 0.4;
    }
    #courses-row-1{
        height: 380px;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #courses-large-title{
        font-size: 56px;
        font-family: 'Roboto Black', sans-serif;
    }

    #courses-search-bar-panel{
        width: 570px;
        height: 40px;
        margin: 0 auto;
        margin-top: 44px;
        border-radius: 10px;
    }
    #courses-search-icon{
        position: absolute;
        width: 18px;
        float: left;
        cursor: pointer;
        padding-top: 10px;
        padding-left: 10px;
        color: white;
    }
    #courses-search-bar{
        border-radius: 10px;
        width: calc(100% - 10px - 33px) !important;
        height: 20px;
        line-height: 20px;
        padding: 10px;
        background-color: rgba(36,35,30,1);
        padding-left: 33px;
        font-weight: bold;
        color: white !important;
        background-color: none !important;
        border: none;
    }
    #courses-search-bar::placeholder{
        color: #99816F !important;
    }
    #courses-search-bar::placeholder:focus{
        color: rgba(0,0,0,0) !important;
    }
    .courses-row-padding{
        height: 270px;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #courses-row-2, #courses-row-3, #courses-row-4{
        height: 370px;
        width: 100%;
    }
    .courses-course-type-panel{
        width: 260px;
        padding-left: 50px;
        height: 270px;
        float: left;
    }
    .courses-course-type-container{
        position: absolute;
        z-index: 10;
        height: 300px;
        width: 300px;
    }
    .courses-slider-panel{
        position: absolute;
        width: 100%;
        height: 300px;
        overflow-x: hidden;
    }
    .courses-slider-panel-extended{
        position: absolute;
        left: 0px;
        width: calc(100% + 300px * 10);
    }
    .left-course-blurred{
        position: absolute;
        left: 0px;
        z-index: 2;
        /* width: calc( calc(100% - 1080px) / 2 + 290px); */
        width: 290px;
        height: 280px;
    }
    .right-course-blurred{
        float: right;
        width: 287px;
        height: 280px;
    }

    .courses-soft-edge{
        box-shadow: 5px 20px #161718;
    }
    .courses-arrow{
        position: absolute;
        margin-left: 250px;
        margin-top: 10px;
    }
    .courses-course-card-container{
        width: 286px;
        padding-top: 5px;
        height: calc(100% - 20px * 2);
    }
    .course-type-title{
        font-size: 37px;
        font-family: 'Roboto Black', sans-serif;
        color: white;
    }
    #courses-row-5{
        height: 400px;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .courses-course-image{
        width: 287px;
        height: 220px;
        border-radius: 15px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
    }
    .courses-course-image-dummy{
        width: 287px;
        height: 220px;
        margin: 0 auto;
    }
    .courses-course-details-panel{
        position: absolute;
        margin-top: 170px;
        width: 252px;
        border-radius: 10px 10px 10px 10px;
        margin-left: 17px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        font-size: 9px;
        height: calc(60px + 10px * 2 + 5px *2);
    }
    .courses-course-details-top{
        padding: 10px;
        height: 30px;
        border-radius: 6px 6px 0px 0px !important;
        width: calc(100% - 10px*2);
        background-color: #1b1b1b;
    
    }
    .courses-course-details-bottom{
        border-radius: 0px 0px 10px 10px;
        padding-top: 3px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 10px;
        height: 30px;
        width: calc(100% - 5px - 10px);
        background-color: #2b2b2b;
    }

    .light-gray-bg{
        background-color: #3a3a3a;;
    }
    .courses-buttons-panel{
        width: 100%;
        position: absolute;
        margin-top: 23px;
    }

    .courses-scroll-left{
        position: absolute;
        left: 260px;
        height: 287px;
        z-index: 11;
        width: 50px;
    }
    .courses-scroll-right{
        position: absolute;
        right: 0px;
        height: 287px;
        z-index: 10;
        width: 70px;
    }
    
    .courses-scroll-right:hover, .courses-scroll-left:hover{
        background-color: rgba(255,255,255,0.025);
        cursor: pointer;
    }

    .courses-pop-up-container{
        position: fixed;
        z-index: 200;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    .courses-pop-up-blur{
        position: fixed;
        z-index: 199;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    .courses-pop-up-content{
        width: 760px;
        margin: 0 auto;
    }
    #courses-pop-up-description{
        width: 670px;
        margin: 15px;
        padding: 30px;
        height: 340px;
    }
    #courses-pop-up-image{
        width:350px;
        height: 230px;
        margin: 15px;
        float: left;

    }
    #courses-pop-up-summary{
        width: 290px;
        margin: 15px;
        margin-top: 65px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        height: 140px;
        float: left;
    }
    #courses-pop-up-suitable{
        width: 290px;
        margin: 15px;
        padding: 30px;
        height: 230px;
        float: left;
    }
    #courses-pop-up-includes{
        width: 290px;
        margin: 15px;
        padding: 30px;
        height: 140px;
        float: left;
    }
    #courses-pop-up-learn{
        width: 290px;
        margin: 15px;
        padding: 30px;
        height: 250px;
        float: right
    }
    .courses-pop-up-close-button{
        width: 30px;
        height: 30px;
        line-height: 30px;
        position: absolute;
        top: 30px;
        padding: 5px;
        z-index: 210;
    }
    
}
@media only screen and (min-width: 1080px){
    #respValue{
        opacity: 0.4;
    }
    #courses-row-1{
        height: 380px;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #courses-large-title{
        font-size: 56px;
        font-family: 'Roboto Black', sans-serif;
    }

    #courses-search-bar-panel{
        width: 570px;
        height: 40px;
        margin: 0 auto;
        margin-top: 44px;
        border-radius: 10px;
    }
    #courses-search-icon{
        position: absolute;
        width: 18px;
        float: left;
        cursor: pointer;
        padding-top: 10px;
        padding-left: 10px;
        color: white;
    }
    #courses-search-bar{
        border-radius: 10px;
        width: calc(100% - 10px - 33px) !important;
        height: 20px;
        line-height: 20px;
        padding: 10px;
        background-color: rgba(36,35,30,1);
        padding-left: 33px;
        font-weight: bold;
        color: white !important;
        background-color: none !important;
        border: none;
    }
    #courses-search-bar::placeholder{
        color: #99816F !important;
    }
    #courses-search-bar::placeholder:focus{
        color: rgba(0,0,0,0) !important;
    }
    .courses-row-padding{
        height: 270px;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #courses-row-2, #courses-row-3, #courses-row-4{
        height: 370px;
        width: 100%;
    }
    .courses-course-type-panel{
        width: 260px;
        padding-left: 50px;
        height: 270px;
        float: left;
    }
    .courses-course-type-container{
        position: absolute;
        z-index: 10;
        height: 300px;
        width: 300px;
    }
    .courses-slider-panel{
        position: absolute;
        width: 100%;
        height: 300px;
        overflow-x: hidden;
    }
    .courses-slider-panel-extended{
        position: absolute;
        left: 0px;
        width: calc(100% + 300px * 10);
    }
    .left-course-blurred{
        position: absolute;
        left: 0px;
        z-index: 2;
        /* width: calc( calc(100% - 1080px) / 2 + 290px); */
        width: 290px;
        height: 280px;
    }
    .right-course-blurred{
        float: right;
        width: 287px;
        height: 280px;
    }

    .courses-soft-edge{
        box-shadow: 5px 20px #161718;
    }
    .courses-arrow{
        position: absolute;
        margin-left: 250px;
        margin-top: 10px;
    }
    .courses-course-card-container{
        width: 286px;
        padding-top: 5px;
        height: calc(100% - 20px * 2);
    }
    .course-type-title{
        font-size: 37px;
        font-family: 'Roboto Black', sans-serif;
        color: white;
    }
    #courses-row-5{
        height: 400px;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .courses-course-image{
        width: 287px;
        height: 220px;
        border-radius: 15px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
    }
    .courses-course-image-dummy{
        width: 287px;
        height: 220px;
        margin: 0 auto;
    }
    .courses-course-details-panel{
        position: absolute;
        margin-top: 170px;
        width: 252px;
        border-radius: 10px 10px 10px 10px;
        margin-left: 17px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        font-size: 9px;
        height: calc(60px + 10px * 2 + 5px *2);
    }
    .courses-course-details-top{
        padding: 10px;
        height: 30px;
        border-radius: 6px 6px 0px 0px !important;
        width: calc(100% - 10px*2);
        background-color: #1b1b1b;
    
    }
    .courses-course-details-bottom{
        border-radius: 0px 0px 10px 10px;
        padding-top: 3px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 10px;
        height: 30px;
        width: calc(100% - 5px - 10px);
        background-color: #2b2b2b;
    }

    .light-gray-bg{
        background-color: #3a3a3a;;
    }
    .courses-buttons-panel{
        width: 100%;
        position: absolute;
        margin-top: 23px;
    }

    .courses-scroll-left{
        position: absolute;
        left: 260px;
        height: 287px;
        z-index: 11;
        width: 50px;
    }
    .courses-scroll-right{
        position: absolute;
        right: 0px;
        height: 287px;
        z-index: 10;
        width: 70px;
    }
    
    .courses-scroll-right:hover, .courses-scroll-left:hover{
        background-color: rgba(255,255,255,0.025);
        cursor: pointer;
    }

    .courses-pop-up-container{
        position: fixed;
        z-index: 200;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    .courses-pop-up-blur{
        position: fixed;
        z-index: 199;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    .courses-pop-up-content{
        width: 760px;
        margin: 0 auto;
    }
    #courses-pop-up-description{
        width: 670px;
        margin: 15px;
        padding: 30px;
        height: 340px;
    }
    #courses-pop-up-image{
        width:350px;
        height: 230px;
        margin: 15px;
        float: left;

    }
    .courses-summary-height{
        height: 250px;
        margin-bottom: 15px;
    }
    #courses-pop-up-summary{
        width: 290px;
        margin: 15px;
        margin-top: 65px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        height: 140px;
        float: left;
    }
    #courses-pop-up-suitable{
        width: 290px;
        margin: 15px;
        padding: 30px;
        height: 230px;
        float: left;
    }
    #courses-pop-up-includes{
        width: 290px;
        margin: 15px;
        padding: 30px;
        height: 140px;
        float: left;
    }
    #courses-pop-up-learn{
        width: 290px;
        margin: 15px;
        padding: 30px;
        height: 250px;
        float: right
    }
    .courses-pop-up-close-button{
        width: 30px;
        height: 30px;
        line-height: 30px;
        position: absolute;
        top: 30px;
        padding: 5px;
        z-index: 210;
    }
    
}